.foot-notes {
    padding: 3rem 0;
}

.foot-notes div {
    word-spacing: break-word;
}

.foot-notes div p {
    font-family: "Nissan Regular", "Nissan Light", Verdana, Arial, sans-serif;
    font-size: 15px;
    margin: 5px 0;
    letter-spacing: .08px;
    line-height: 1.6;
    color: #4c4c4c;
    text-align: center;
    font-style: italic;
}